.cache
.git
__pycache__
.spyproject/
.pytest_cache
*.pyc
#docs/_build/

**/logs/
**/output/
**/bak/
**/temp/
*.bak
*.log
*.out


/data
/volumes
/training
**/*_venv/

*.zip
*.gz
*.pdf
*.json
*.tsv
*.html

*.ttl
!*.tpl.ttl

