.cache
.git
__pycache__
.spyproject/
.pytest_cache
*.pyc
#docs/_build/
.ipynb_checkpoints/

**/logs/
**/output/
**/bak/
**/temp/
*.bak
*.log
*.out


/data
/volumes
/training
**/*_venv/

*.zip
*.gz
*.pdf
*.json
*.tsv
*.html
*.pkl
*.csv
*.xlsx
*.pdf

